%h1.title Profile

%p
  %strong Username:
  #{@user.name}

%p
  %strong Email:
  #{@user.email}

- if current_user.id == @user.id
  %p
    %strong Address:
    #{@user.address} - #{@user.city}, #{@user.country}

.row
  .col-md-4
    %strong Games played:
    %ul
      - @result.each do |participating|
        %li= link_to participating.game.name, participating.game, class: "badge badge-light", style: "font-size: 12px"
  .col-md-5
    %strong Tournaments:
    %ul
      - @tournaments_distinct.each do |tournament|
        %li= link_to tournament.name, tournament, class: "badge badge-light", style: "font-size: 12px;"