%p#notice= notice
%h1.title Tournament Details
%p
  %strong Name:
  = @tournament.name
%p
  %strong Description:
  = @tournament.description
%p
  %strong Date:
  = @tournament.date.to_formatted_s(:long)
%p
  %strong Max Players:
  = @tournament.max_players
%p
  %strong Address:
  -if !!@tournament.address
    #{@tournament.address} - #{@tournament.city}, #{@tournament.country}
  - else
    No address specified.
- if current_user&.id && !!@tournament.address
  %p
    %strong Distance from you:
    - unless !!current_user.address
      Please update your location on your profile page
    - else
      #{@tournament.distance_from(current_user).round(2)} km

-#Tab links  // Code snippet from https://www.w3schools.com/howto/howto_js_tabs.asp
.tab
  %button{:class => "tablinks active", :onclick => "openTab(event, 'results')"} Results
  - @tournament.games.each do |game|
    %button{:class => "tablinks", :onclick => "openTab(event, '#{game.id}')"} #{game.name}

-# Tab content
.tabcontent{:id => "results", :style => "display: block;"}
  %h3.title Results (ordered by victories)
  .row
    .container.col-md-12
      %table.table.center_content_horizontally
        %thead
          %tr
            %th Player Name
            %th Victories
            %th Points
        %tbody

          - players_order = Array.new
          - @users_distinct.each do |user|
            - matches = @tournament.matches.where(player1_id: user.id).or(@tournament.matches.where(player2_id: user.id))
            - victories = matches.where(winner: user.name).size
            -#- victories = matches.where(winner: participating.user.id).size
            - draws = matches.where(winner: "draw").size
            - points = 0 + (victories*3) + draws

            - players_order.push(name: user.name, victories: victories, points: points)

          - players_order.sort_by! {|hash| hash[:victories]}.reverse!
          - players_order.each do |player|
            %tr
            %td{class: "col-md-4"}= player[:name]
            %td{class: "col-md-4"}= player[:victories]
            %td{class: "col-md-4"}= player[:points]

- @tournament.games.each do |game|
  .tabcontent{:id => "#{game.id}"}
    %h3.title #{game.name}
    .row
      .container.col-md-6
        %h4.title Players
        %ul
          -@tournament.participatings.where(game_id: game.id).each do |participating|
            - matches = @tournament.matches.where(player1_id: participating.user.id).or(@tournament.matches.where(player2_id: participating.user.id)).where(game_id: game.id)
            - victories = matches.where(winner: participating.user.name).size
            -#- victories = matches.where(winner: participating.user.id).size
            - draws = matches.where(winner: "draw").size
            - points = 0 + (victories*3) + draws
            %li  #{link_to participating.user.name, user_path(participating.user), class: "badge badge-light", style: "font-size: 12px;"} - #{points} points
          - if current_user &.id
            - unless @tournament.participatings.where(user_id: current_user.id).where(game_id: game.id).size > 0
              = link_to "Participate", add_participant_path(@tournament, game), class: "badge badge-success", style: "color: white;", method: :post
            -else
              = link_to "Leave tournament", destroy_participant_path(@tournament, game), class: "badge badge-danger", style: "color: white;", method: :post

      .container.col-md-6
        %h4.title Matches

        - if @tournament.matches.where(game_id: game.id).size > 0
          %table.table
            %thead
              %tr
                %th #
                %th Player 1
                %th Player 2
                %th Winner
            %tbody
              - i = 1
              - @tournament.matches.where(game_id: game.id).order(:id).each do |match|
                %tr
                  %td= i
                  %td= match.player1.name
                  %td= match.player2.name
                  %td= match.winner
                - i+=1

        = link_to "Create Matches", generate_matches_path(@tournament, game), class: "btn btn-primary", style: "color: white;", method: :post
        = link_to "Destroy Matches", destroy_matches_path(@tournament, game), data: { confirm: "Are you sure?" }, class: "btn btn-danger", style: "color: white;", method: :post

      %br
- if can? :manage, @tournament
  = link_to 'Edit', edit_tournament_path(@tournament), class: "btn btn-outline-primary"
  \-
= link_to 'Back to List', tournaments_path, class: "btn btn-outline-primary"
